# ========== Maven ==========
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ========== IntelliJ IDEA ==========
.idea/
*.iml
*.iws
*.ipr

# ========== VS Code ==========
.vscode/

# ========== Java ==========
*.class
*.log

# ========== OS files ==========
.DS_Store
Thumbs.db
